<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}WikisourceStats{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/46/Wikisource-ico-48px.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css">

        <!-- Bootstrap, jQuery and others JS -->
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style>
            .title-heading {
                font-family: 'Amatic SC', cursive;
                text-align: center;
                font-size: 63px;
            }
        </style>

    {% endblock head %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand">WikisourceStats</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('graph') }}">Graph</a></li>
                <li><a href="{{ url_for('usercontrib') }}">User Contribution</a></li>
                <li><a href="{{ url_for('monthly') }}">Monthly Stats</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        <h1 class="page-header title-heading"> Indic Wikisource Statistic </h1>
    </div>
    <br>
    {% block main %}
    {% endblock main %}
    <br>
    <hr>
    <footer class="footer">
        <p>Created and maintained by <a href="https://meta.wikimedia.org/wiki/User:Jayprakash12345">Jayprakash</a>, <a
                href="https://meta.wikimedia.org/wiki/Indic-TechCom">Indic-TechCom</a> ( <a
                href="https://github.com/Jayprakash-SE/indic-wsstats">View Source</a> )</p>
    </footer>
</div>
</body>
</html>