{% extends "base.html" %}

{% block main %}
    <div>
        <h2>Active User in 12-2019</h2>
        <ul>
            {% for us in active_users %}
                <li> {{ us }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}