{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='userContrib.js') }}"></script>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    .shadow-effect {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        padding: 1rem !important;
        margin-bottom: 3rem !important;
        border-radius: 1rem !important;
    }
    </style>
{% endblock head %}

{% block main %}
    {% if data is none %}
        <div class="shadow-effect">
            <form id="form-content" method="post" action="{{ url_for('usercontrib') }}">
                <div class="form-group">
                    <label for="ws-project">Project:</label>
                    <select class="form-control" id="ws-project" name="ws-project">
                        <option value="as">Assamese</option>
                        <option value="bn">Bangla</option>
                        <option value="gu">Gujarati</option>
                        <option value="hi">Hindi</option>
                        <option value="kn">Kannada</option>
                        <option value="ml">Malayalam</option>
                        <option value="mr">Marathi</option>
                        <option value="or">Oriya</option>
                        <option value="pa">Punjabi</option>
                        <option value="sa">Sanskrit</option>
                        <option value="ta">Tamil</option>
                        <option value="te">Telugu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ws-usr">Username:</label>
                    <input type="text" class="form-control" id="ws-usr" name="ws-usr">
                </div>
                <button type="submit" class="btn btn-primary subBtn">Submit</button>
            </form>
            <br>
            <p id="waitMsg" style="color:red;display:none;"> Please wait, It may take 1-2 minutes.</p>
        </div>

    {% elif data is not none %}
        <div class="shadow-effect">
            <div style="padding: inherit;">
                <a href="{{ url_for('usercontrib') }}" style="padding: inherit;font-size:1.4em;">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <a href="https://{{ request.form['ws-project'] }}.wikisource.org/wiki/User:{{ request.form['ws-usr'] }}"
                    style="font-size:1.8em;margin-left:30%">
                    {{ request.form['ws-usr'] }} 
                </a>
                <small style="font-size:1.8em;">({{ request.form['ws-project'] }}.wikisource.org)</small>
            </div>
            <br>
            <p> <strong>Live Edits:</strong> {{ data["liveEdit"] }} </p>
            <p> <strong>Deleted Edits:</strong> {{ data["delEdit"] }} </p>
            <p> <strong>Total Edits:</strong> {{ data["totalEdit"] }} </p>
            <p> <strong>Total Page Namespace Edits:</strong> {{ data["pageEdit"] }} </p>
            <p> <strong>Total Index Edits:</strong> {{ data["indexEdit"] }} </p>
            <br>
            <p> <strong>Proofread <small>(In 2019)</small>:</strong> {{ data["pr"] }} </p>
            <p> <strong>Validation <small>(In 2019)</small>:</strong> {{ data["val"] }} </p>
        </div>
        {% if prContrib is not none %}
            <br>
            <div class="shadow-effect">
                <p>
                    <i class="fa fa-lg fa-angle-down leg-contrib" data-toggle="collapse" data-target="#pr-content"> Proofread Contributions (2019)</i>
                </p>
                <div id="pr-content" class="collapse">
                    <ul class="list-group">
                        {% for page, rev in prContrib.items() %}
                            <li class="list-group-item">
                                (<a target="_blank" href="https://{{ request.form['ws-project'] }}.wikisource.org/w/index.php?diff={{ rev }}"> Diff </a>)
                                ..
                                <a target="_blank" href="https://{{ request.form['ws-project'] }}.wikisource.org/wiki/{{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if valContrib is not none %}
            <br>
            <div class="shadow-effect">
                <p>
                    <i class="fa fa-lg fa-angle-down leg-contrib" data-toggle="collapse" data-target="#pr-validate"> Validation Contributions (2019)</i>
                </p>
                <div id="pr-validate" class="collapse">
                    <ul class="list-group">
                        {% for page, rev in valContrib.items() %}
                            <li class="list-group-item">
                                (<a target="_blank" href="https://{{ request.form['ws-project'] }}.wikisource.org/w/index.php?diff={{ rev }}"> Diff </a>)
                                ..
                                <a target="_blank" href="https://{{ request.form['ws-project'] }}.wikisource.org/wiki/{{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if errors is not none %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{errors}}.
        </div>
    {% endif %}

{% endblock main  %}
